.map-container {
  margin: 2% 0 0 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #e1edfc 1rem solid;
  border-radius: 25px;
  width: 98% !important;
  height: 80% !important;
}
